.background {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(238, 219, 219)
  }
  
  .form-card {
    background-color: #b17a7a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .form-subtitle {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .auth {
    display: flex;
    flex-direction: column;
  }
  
  .auth-label {
    margin-bottom: 5px;
  }
  
  .auth-input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .auth-button {
    padding: 10px;
    background-color: #244b74;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  